Schedule(
    days: [
        day(
            day_name: "Понедельник",
            lessons:[
                lesson(
                    lesson_name:"Дискретная математика",
                    lesson_type: "Лекция",
                    time:[
                        start:"9:50",
                        end:"11:20",
                    ],
                    teacher : "Поляков Владимир Иванович", 
                    class : 2337,
                    building:"Кронверкский пр., д.49, лит.А",
                ),
                lesson(
                    lesson_name:"Дискретная математика",
                    lesson_type: "Практика",
                    time:[
                        start:"11:30",
                        end:"13:00",
                    ],
                    teacher : "Поляков Владимир Иванович", 
                    class : 2337,
                    building:"Кронверкский пр., д.49, лит.А",
                ),
                lesson(
                    lesson_name:"Информатика",
                    lesson_type: "Лабораторная",
                    time:[
                        start:"13:30",
                        end:"15:00",
                    ],
                    teacher : "Авксентьева Елена Юрьевна", 
                    class : 2305,
                    building:"Кронверкский пр., д.49, лит.А",
                ),
                lesson(
                    lesson_name:"Информатика",
                    lesson_type: "Лабораторная",
                    time:[
                        start:"15:30",
                        end:"17:00",
                    ],
                    teacher : "Авксентьева Елена Юрьевна", 
                    class : 2305,
                    building:"Кронверкский пр., д.49, лит.А",
                ),
                lesson(
                    lesson_name:"Основы профессиональной деятельности",
                    lesson_type: "Лабораторная",
                    time:[
                        start:"17:10",
                        end:"18:40",
                    ],
                    teacher : "Остапенко Ольга Денисовна", 
                    class : 1338,
                    building:"Кронверкский пр., д.49, лит.А",
                ),
                lesson(
                    lesson_name:"Основы профессиональной деятельности",
                    lesson_type: "Лабораторная",
                    time:[
                        start:"18:50",
                        end:"20:20",
                    ],
                    teacher : "Остапенко Ольга Денисовна", 
                    class : 1338,
                    building:"Кронверкский пр., д.49, лит.А",
                ),
            ]
        ),

        day(
            day_name: "Суббота",
            lessons:[
                lesson(
                    lesson_name:"Программирование",
                    lesson_type: "Лабораторная",
                    time:[
                        start:"13:30",
                        end:"15:00",
                    ],
                    teacher : "Чупанов Аликылыч Алибекович", 
                    class : 2305,
                    building:"Кронверкский пр., д.49, лит.А",
                ),
                lesson(
                    lesson_name:"Программирование",
                    lesson_type: "Лабораторная",
                    time:[
                        start:"15:30",
                        end:"17:00",
                    ],
                    teacher : "Чупанов Аликылыч Алибекович", 
                    class : 2305,
                    building:"Кронверкский пр., д.49, лит.А",
                ),
            ]
        )
    ]
)